@import "tailwindcss";

/* Hide scrollbar for a premium experience */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: #000000;
}